.button {
	@include rounded;
	@include transition-active;
	@include flex-center;
	cursor: pointer;
	padding: 15px 20px;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.75px;
	background-color: $color-primary;
	color: #fff;
	border: 1px solid $color-primary;
	position: relative;
	outline: none;
	overflow: hidden;
	user-select: none;
	line-height: 1;
	border-radius: 24px;

	&:disabled, &.button_disabled {
		pointer-events: none;
		cursor: default;
		opacity: .5;
	}

	&:not(:disabled):not(.button_disabled):active {
		background-color: transparent;
		color: $color-primary;
	}

	// кнопки с границами
	&.button_type_transparent {
		background-color: transparent;
		border: 1px solid $color-primary;
		color: $color-primary;

		&:not(:disabled):not(.button_disabled):active {
			background-color: $color-primary;
			color: $color-main-bg;
		}
	}

	&-icon {
		background-color: #fff;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
		width: 52px;
		height: 52px;
		border-radius: 50%;
		padding: 0;
		border: none;
		color: #000;
		font-size: 20px;
	}

	&.button_full_width {
		width: 100%;
	}
}