.customers_empty {
	background-image: url(../images/bag.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 293px;
	margin-top: 45px;
}

.customers-list {
	@include rounded(20px);
	list-style: none;
	padding: 10px 0 45px 32px;
	margin: 25px 0;
	background-color: #fff;

	.customers-item {
		a {
			@include flex;
			position: relative;
			padding: 8px 50px 30px 0px;
			border-bottom: 1px solid #efeff4;
			color: #000;

			&:active {
				text-decoration: none;
				opacity: 0.7;
			}
		}

		&__status {
			@include rounded(50%);
			position: absolute;
			width: 8px;
			height: 8px;
			left: -16px;
			top: 14px;
			background-color: #54c7fc;

			&_type_green {
				background-color: #93c22f;
			}
		}

		&__name {
			font-weight: 600;
		}

		&__subtext {
			font-weight: 600;
			color: #666666;
		}

		&__arrow {
			font-size: 19px;
			position: absolute;
			top: 20px;
			right: 30px;
			pointer-events: none;
		}
	}
}