form {
	margin: 0;

	.form-item {
		margin-bottom: 24px;

		input[type="text"],
		input[type="tel"],
		input[type="password"],
		input[type="number"],
		input[type="search"],
		input[type="email"] {
			@include transition-active;
			background: #fff;
			border: 1px solid #d8d8d8;
			box-sizing: border-box;
			border-radius: 8px;
			box-shadow: 0 0 0 rgba($color: $color-primary, $alpha: 0);
			width: 100%;
			padding: 16px 18px;
	
			&:focus {
				outline: none;
				box-shadow: 2px 2px 5px rgba($color: $color-primary, $alpha: 0.2);
				border: 1px solid #bfbfbf;
			}
		}

		input[type="search"] {
			text-align: center;
			font-size: 17px;
			padding: 28px 18px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}

		&_type_count {
			@include flex-center;

			.button-count {
				@include flex-center;
				@include rounded(50%);
				touch-action: manipulation;
				border: 2px solid #d8d8d8;
				background-color: #fff;
				flex-basis: 54px;
				min-width: 54px;
				height: 54px;
				color: #d8d8d8;
				font-size: 22px;
				outline: none;
				cursor: pointer;
				box-shadow: 3px 3px 5px rgba(0, 0, 0, 0);
				
				&:hover {
					opacity: 0.85;
				}

				&:active {
					box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
				}

				&-up {
					border-color: #93c22f;
					background-color: #93c22f;
					color: #fff;
				}
			}

			input {
				touch-action: manipulation;
				text-align: center;
				font-size: 32px;
				padding: 9px !important;
				box-shadow: none !important;
				border: none !important;
			}
		}
	}


	.form__button-submit {
		width: 100%;
	}
}