.header {
	margin-top: 7px;
	margin-bottom: 7px;

	&-wrap {
		@include flex;
		@include justify-content(space-between);
	}

	&__history-back {
		background-color: transparent;
		border: none;
		color: #000;
		font-size: 24px;
		padding: 14px 14px 14px 0;

		&:active {
			color: #000 !important;
			opacity: .7;
		}
	}

	.header-menu {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
		background-color: #fff;
		z-index: 1000;

		&-wrap {
			@include flex-center;
			height: 100%;
			width: 100%;
			position: relative;
		}

		&__close {
			position: absolute;
			top: 7px;
			right: 10px;
		}

		&__nav {
			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					text-align: center;
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}

					a {
						font-size: 32px;
						font-weight: 600;
					}
				}
			}
		}
	}
}