.notification-containter {
	position: fixed;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

.notification {
	width: 100%;
	max-width: 400px;
	padding: 17px 30px;
	background-color: #5c5c5c;
	color: #fff;
	margin-top: 14px;

	&-wrap {
		@include flex;
		@include align-items;
	}

	&:first-of-type {
		margin-top: 0;
	}

	&__icon {
		@include flex-center;
		@include rounded(50%);
		font-size: 22px;
		border: 3px solid #fff;
		width: 62px;
		height: 62px;
		margin-right: 13px;
	}

	&-text {
		text-align: center;
	}

	&-text__title {
		font-weight: 600;
	}

	&-text__message {
		font-weight: 300;
	}
}