@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot?o1n2b5');
	src: url('../fonts/icomoon/icomoon.eot?o1n2b5#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?o1n2b5') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?o1n2b5') format('woff'),
		url('../fonts/icomoon/icomoon.svg?o1n2b5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-menu:before {
	content: "\e905";
}

.icon-close:before {
	content: "\e906";
}

.icon-chevron-right:before {
	content: "\e902";
}

.icon-chevron-left:before {
	content: "\e904";
}

.icon-check:before {
	content: "\e903";
}

.icon-minus:before {
	content: "\e900";
}

.icon-plus:before {
	content: "\e901";
}