@import "icon";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

html {
	font-style: normal;
	font-weight: normal;
	line-height: 1.4;
	color: $color-text;
	font-family: $family-font;
	font-size: 17px;
}

body {
	background-color: $color-main-bg;
	color: $color-text;
	font-family: $family-font;
	font-size: 16px;
	line-height: 1.4;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior-y: none;
}

a {
	color: $color-primary;
	cursor: pointer;
	text-decoration: none;

	&:active:not(.button) {
		text-decoration: underline;
	}
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 1.14;
	margin: 0;
}

h1, .h1 {
	font-size: 34px;
}

h2, .h2 {
	font-size: 30px;
}

h3, .h3 {
	font-size: 28px;
}

h4, .h4 {
	font-size: 24px;
}

h5, .h5 {
	font-size: 20px;
}

h6, .h6 {
	font-size: 18px;
}

p {
	margin: 0 0 $space 0;

	&:last-child {
		margin: 0;
	}
}

small, .small {
	font-size: 80%;
}

.uppercase {
	text-transform: uppercase;
}

.bold, .strong,
b, strong {
	font-weight: 700;
}