.customer-details-page {
	.page-title {
		span {
			font-size: 22px;
			margin-top: 13px;
		}
	}
}

.manage-count {
	&-wrap {
		@include rounded(20px);
		background-color: #fff;
		text-align: center;
		padding: 90px 70px 65px 70px;

		@include mq("xs") {
			padding: 70px 45px 65px 45px;
		}

		& + button {
			@include flex-direction;
			@include rounded(40px);
			padding: 16px;
			margin: 43px auto 0 auto;
			font-size: 17px;
			font-weight: 600;
			line-height: 22px;
			width: calc(100% - 56px);

			@include mq("xs") {
				width: calc(100% - 30px);
			}

			span.sub {
				font-weight: 300;
			}
		}
	}

	&__description {
		font-size: 32px;
		text-align: center;
		letter-spacing: -0.01em;
		color: #666666;
	}
}