mixin header(isBtnBack = true)
	header.header
		.container
			.header-wrap
				if isBtnBack
					button.button.header__history-back.icon-chevron-left
				span.spacer
				button.button.header__menu-toggler.button-icon.icon-menu
			.header-menu
				.header-menu-wrap
					button.button.header-menu__close.button-icon.icon-close
					nav.header-menu__nav
						ul
							li
								a(href="javascript:void(0);") Home
							li
								a(href="javascript:void(0);") Transaction
							li
								a(href="javascript:void(0);") Sign Out