<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Customer
	body.customer-details-page
		.wrap
			main
				include mixins/header.pug
				+header

				.content
					.container
						.page-title 
							h1 Eugene Danilov
							span Keep 6 Bags

						form.manage-count
							.manage-count-wrap
								.form-item.form-item_type_count
									button.bitton.button-count.button-count-down.icon-minus(type="button")
									input(type="text" name="count" value="0")
									button.bitton.button-count.button-count-up.icon-plus(type="button")
								.manage-count__description Bags
							button.button 
								span Add
								span.sub to Eugene Danilov