<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Find customers empty
	body.find-customers-page
		.wrap
			main
				include mixins/header.pug
				+header

				.content
					.container
						.page-title 
							h1 Find Customer
							span Start Typing Customer Name
						
						form
							.form-item
								input(type="search" name="search" placeholder="Search by Customer Name")
						
						.customers.customers_empty