<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Find customers list
	body.find-customers-page
		.wrap
			main
				include mixins/header.pug
				+header

				.content
					.container
						.page-title 
							h1 Find Customer
							span Start Typing Customer Name
						
						form
							.form-item
								input(type="search" name="search" placeholder="Search by Customer Name")
						
						.customers
							ul.customers-list
								li.customers-item
									a(href="javascript:void(0);")
										i.customers-item__status
										.customers-item__text
											.customers-item__name Eugene Danilov
											.customers-item__subtext Keep 6 Bags
										i.customers-item__arrow.icon-chevron-right
								li.customers-item
									a(href="javascript:void(0);")
										i.customers-item__status.customers-item__status_type_green
										.customers-item__text
											.customers-item__name Customer Name
											.customers-item__subtext Keep 0 Bags
										i.customers-item__arrow.icon-chevron-right
								li.customers-item
									a(href="javascript:void(0);")
										i.customers-item__status
										.customers-item__text
											.customers-item__name Customer Name
											.customers-item__subtext Keep 0 Bags
										i.customers-item__arrow.icon-chevron-right
								li.customers-item
									a(href="javascript:void(0);")
										i.customers-item__status
										.customers-item__text
											.customers-item__name Customer Name
											.customers-item__subtext Keep 0 Bags
										i.customers-item__arrow.icon-chevron-right
								li.customers-item
									a(href="javascript:void(0);")
										i.customers-item__status.customers-item__status_type_green
										.customers-item__text
											.customers-item__name Customer Name
											.customers-item__subtext Keep 0 Bags
										i.customers-item__arrow.icon-chevron-right
								li.customers-item
									a(href="javascript:void(0);")
										i.customers-item__status
										.customers-item__text
											.customers-item__name Customer Name
											.customers-item__subtext Keep 0 Bags
										i.customers-item__arrow.icon-chevron-right
								li.customers-item
									a(href="javascript:void(0);")
										i.customers-item__status.customers-item__status_type_green
										.customers-item__text
											.customers-item__name Customer Name
											.customers-item__subtext Keep 0 Bags
										i.customers-item__arrow.icon-chevron-right