<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Login
	body.login-page
		.wrap
			main
				include mixins/header.pug
				+header(false)

				.content
					.container
						h1.page-title Login

						form.form-login
							.form-wrap
								.form-item
									input(type="tel" name="tel" placeholder="+1(305) 555-5555")
								.form-item
									input(type="password" name="password" placeholder="Password")
								button.button.form__button-submit(type="submit") Sign In

		include includes/notification.pug