@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';
@import 'base/normalize';
@import 'base/typography';
@import 'base/animate';

@import '../../node_modules/sweetalert2/src/sweetalert2';

@import 'tools/grid';


@import 'components/buttons';
@import 'components/form';
@import 'components/notifications';
@import 'components/customers-list';
@import 'components/header';

.wrap {
	@include flex;
	@include flex-direction;
	min-height: 100vh;

	main {
		flex-grow: 1;
	}
}

.content {
	margin-top: 7px;
	margin-bottom: 7px;
}

.page-title {
	margin-bottom: 25px;

	span {
		display: block;
		margin-top: 3px;
		font-size: 15px;
	}
}

@import "pages/login";
@import "pages/customer";